{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some Mangas</title>
    <link rel="stylesheet" href="{% static 'manga/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link rel="icon" sizes="16x16" href="{% static 'manga/images/python-16.png' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

</head>

<body>
    <div class="bgImage"></div>

    <main>
        <div class="content">
            <div class="list-mangas">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>


                </ul>
            </div>
            <div class="stack">
                <i class="devicon-django-plain"></i>
                <i class="devicon-python-plain"></i>
                <i class="devicon-html5-plain"></i>
                <i class="devicon-css3-plain"></i>
            </div>
        </div>
    </main>

    <footer>
        <p>
            developeb by <a href="https://www.instagram.com/sirnaelc7/">devSirNaelC7</a>
        </p>
    </footer>
</body>

</html>